version: "3.9"
services:
  firsttake_db:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      #TODO: remember to comment-out before launching on VPS
    ports:
      - "5432:5432"

  firsttake_app:
    build: .
    env_file:
      - .env
    depends_on:
      firsttake_db:
        condition: service_healthy
    ports:
      - "8085:8080"
    restart: unless-stopped
    volumes:
      - ./uploads:/app/uploads

volumes:
  pgdata:
